html {
	font-family: 'Montserrat', 'malgun gothic', 'Helvetica Neue', "Arial", sans-serif;
	background-color: #f9f9ff;
}
header {
	width: 70rem;
	margin: auto;
	padding: 0.1rem 0;
}
.title {
	text-align: left;
	font-size: 2rem;
	letter-spacing: 0.05em;
	margin-top: 1rem;
	font-weight: bold;
}
.title a {
	color: #102029;
}
.navlinks {
	text-align: right;
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: lowercase;
	margin-top: -2.0rem;
	word-spacing: .5rem;
}
.current {
	color: #102029;
}
.others {
	color: #306685;
}
#line {
	width: 70rem;
	color: #5555A0;
	margin-top: 2rem;
}
.wrapper { /* 본문 내용 */
	width: 50rem;
	margin: auto;
	padding: 0.1rem 0;
}
table {
    width: 100%;
    border: 1px solid #444444;
	border-collapse: collapse;
}
th, td {
	border: 1px solid #444444;
}

a {
	text-decoration: none;
	color: #306685;
}
.posttitle {
	color: #102029;
	font-family: 'Nanum Gothic', sans-serif;
}
.postcontent {
	color: #102029;
	text-align: justify;
	margin: 0.6rem;
	line-height: 2rem;
}
.postcontent li {
	margin-left: -1rem;
}
.postcontent .highlight {
	margin: -1.4rem;
}
.site-footer {
	width: 50rem;
	margin: auto;
	padding: 0.1rem 0;
	text-align: right;
}
.collapsible {
	background-color: transparent;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}
.collcontent {
	display: none;
	overflow: hidden;
	background-color: transparent
}
footer {
	text-align: right;
	width: 70rem;
	margin: auto;
	padding: 2rem 0;
}
.imgcenter {
	display: block;
  	margin: auto;
    width: auto; height: auto;
    max-width: 35rem;
    max-height: 30rem;
}
