.title {
	text-align: center;
	color: #82d5a0;
	font-size: 9rem;
	letter-spacing: 0.05em;
	font-family: 'Montserrat', 'malgun gothic', 'Helvetica Neue', "Arial", sans-serif;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-shadow: 0.1em 0.1em #82d5a0;
	margin-top: 0rem;
	font-weight: bold;
}
.title a {
	color: #102029;
}
.navlinks {
	text-align: right;
	font-weight: bold;
	font-size: 2rem;
	text-shadow: 0.1em 0.1em #82d5a0;
	text-transform: lowercase;
	margin-bottom: -1rem;
	font-family: 'Montserrat', 'malgun gothic', 'Helvetica Neue', "Arial", sans-serif;
}
.current {
	color: #102029;
}
.others {
	color: #306685;
}
html {
	background-color: #fffaf0;
}
.wrapper { /* 본문 내용 */
	width: 50rem;
	margin: auto;
	padding: 0.1rem 0;
}
table {
    width: 100%;
    border: 1px solid #444444;
	border-collapse: collapse;
}
th, td {
	border: 1px solid #444444;
}

a {
	text-decoration: none;
	color: #82d5a0;
}
a:hover {
	text-decoration: underline;
}
.posttitle {
	color: #102029;
	font-family: 'Nanum Gothic', sans-serif;
}
.postcontent {
	color: #102029;
	text-align: justify;
	margin: 0.6rem;
	line-height: 2rem;
}
.postcontent li {
	margin-left: -1rem;
}
.site-footer {
	width: 50rem;
	margin: auto;
	padding: 0.1rem 0;
	text-align: right;
}